<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Cadastro de Título</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<nav class="navbar navbar-light bg-light">
  	<div class="container-fluid">
    	<span class="navbar-brand mb-0 h1">Cobrança de Títulos</span>
  	</div>
	</nav>
	
	<div class="alert alert-primary" role="alert" th:if="${!#strings.isEmpty(mensagem)}">
  		<span th:text="${mensagem}"></span>
	</div>
	
	<form class="formulario" method="POST" action="/titulos">
	
	<h4 class="titulo">Novo título</h4>
	
  	<div class="row mb-3">
    	<label for="inputDesc" class="col-sm-1 col-form-label">Descrição</label>
    	<div class="col-sm-5">
      		<input type="text" class="form-control" id="descricao" name="descricao">
    	</div>
  	</div>
  	
  	<div class="row mb-3">
    	<label for="inputVenc" class="col-sm-1 col-form-label">Vencimento</label>
    	<div class="col-sm-2">
      		<input type="text" class="form-control" id="dataVencimento" name="dataVencimento">
    	</div>
  	</div>
 
 	<div class="row mb-3">
    	<label for="inputValor" class="col-sm-1 col-form-label">Valor</label>
    	<div class="col-sm-2">
      		<input type="text" class="form-control" id="valor" name="valor">
    	</div>
  	</div>
  	
  	<div class="row mb-3">
    	<label for="inputValor" class="col-sm-1 col-form-label">Status</label>
    	<div class="col-sm-2">
      		<select class="form-control" name="status">
      		<option th:each="status: ${todosStatusTitulo}" th:value="${status}" th:text="${status.descricao}"></option>
      		</select>
    	</div>
  	</div>
  	
  	<button type="submit" class="btn btn-primary">Salvar</button>
  	
	</form>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>